/* // header and footer */

header nav .main-menu > a,
header nav .main-menu > span
{
    @apply text-5 font-bold text-gray-1 hover:text-blue-3 transition duration-300 ease-linear cursor-pointer;
}
header nav .sub-menu
{
    @apply z-10;
}
header nav .sub-menu a{
    @apply text-5 font-bold text-white hover:text-white/80 block px-4 py-5 transition duration-300 ease-linear;
}
header #mobileMenu .sub-menu {
    @apply bg-gray-2;
}
header #mobileMenu .main-menu > button {
    @apply text-5 font-bold text-white px-6 py-4 hover:text-blue-3 transition duration-300 ease-linear cursor-pointer;
} 
header #mobileMenu .sub-menu a{
    @apply text-5 font-bold text-gray-1 hover:text-gray-1/80 block px-6 py-5 transition duration-300 ease-linear; 
}
header #mobileMenu .main-menu svg {
    @apply w-4 h-4;
}
header #mobileMenu .main-menu > button.active {
    @apply bg-blue-3;
}
header #mobileMenu .main-menu > button svg {
    @apply rotate-180 transition duration-300 ease-in-out;
}
header #mobileMenu .main-menu > button.active svg {
    @apply rotate-0 transition duration-300 ease-in-out;
}
header #mobileMenu .other-menu {
    @apply text-5 font-bold text-white text-center px-6 py-4 hover:text-blue-3 transition duration-300 ease-linear cursor-pointer;
} 
header #mobileSearch{
    @apply absolute left-0 top-full w-screen bg-blue-2 lg:opacity-0 lg:invisible lg:group-hover:opacity-100 lg:group-hover:visible transition-all duration-300;
}


/* footer section start */
footer .left .icon{
    @apply lg:w-5 lg:h-5 lg:min-w-5 w-4 h-4 min-w-4 object-contain mt-0.5;
}
footer .left p {
    @apply text-center lg:text-start;
}
footer .right .social-box {
    @apply w-10 h-10 grid place-items-center rounded-full bg-blue-3 transition duration-300 ease-linear hover:bg-blue-3/60;
}

footer .right .social-box img{
    @apply w-5 h-5 object-contain;
}

footer .divider{
      @apply w-full h-0.25 bg-white lg:my-10 my-7;
}
footer .nav a{
      @apply text-white hover:text-white/80 transition duration-300 ease-linear;
}