@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Bold.eot');
    src: url('EBGaramond-Bold.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-Bold.woff2') format('woff2'),
        url('EBGaramond-Bold.woff') format('woff'),
        url('EBGaramond-Bold.ttf') format('truetype'),
        url('EBGaramond-Bold.svg#EBGaramond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

